# ntp.conf

driftfile /var/lib/ntp/ntp.drift
pidfile   /var/run/ntpd.pid
logfile /var/log/ntp.log

server {{ ntp_server_0 }}
server {{ ntp_server_1 }}
server {{ ntp_server_2 }}
server {{ ntp_server_3 }}
