
user  {{ nginx_owner }} {{ nginx_owner }};
worker_processes  {{ ansible_processor_count }};

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    use epoll;
    multi_accept	on;
    accept_mutex off;
    worker_connections  51200;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    server_names_hash_bucket_size 128;
    client_header_buffer_size 32k;
    large_client_header_buffers 4 32k;
    client_max_body_size 8m;
    sendfile       on;
    tcp_nopush     on;
    #keepalive_timeout  0;
    keepalive_timeout  60;

    # Gzip Setting
    gzip  on;
    gzip_static  on;
    gzip_min_length  1k;
    gzip_buffers     4 16k;
    gzip_proxied expired no-cache no-store private auth;
    gzip_http_version 1.1;
    gzip_comp_level 4;
    gzip_types       text/plain application/x-javascript text/css application/xml;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.";
	
	
    # Define fastcgi configuration
    fastcgi_intercept_errors on;
    fastcgi_connect_timeout 300;
    fastcgi_send_timeout 300;
    fastcgi_read_timeout 300;
    fastcgi_buffer_size 64k;
    fastcgi_buffers 4 64k;
    fastcgi_busy_buffers_size 128k;
    fastcgi_temp_file_write_size 128k;

    # Index
    index index.php index.html;
	
    # Hidden Version
    server_tokens off;
	
#    upstream daidaicn {
#        ip_hash;
#        server 115.29.196.144 max_fails=3 fail_timeout=10s;
#        server 115.29.207.111 max_fails=3 fail_timeout=10s;	
#	}

	#Forward Proxy
#	server	{
#		resolver 223.5.5.5 223.6.6.6 valid=20s;
#		resolver_timeout 30s;
#		listen 3128;
#		location /
#		{
#			proxy_pass http://$http_host$request_uri;
#
#		}
#	}


    include /etc/nginx/vhost/*.conf;

}


