#proxy_cache_path /data/cache keys_zone=CACHE:100m levels=1:2 inactive=12h max_size=1g;

upstream fpm-handler {
   server {{ php_fpm_addr }}:{{ php_fpm_port}} max_fails=5 fail_timeout=30s weight=5;
}

server {
	listen 80 sndbuf=8m rcvbuf=8m;
	server_name {{ server_name }};
	root  {{ document_root }};
	index index.php index.html;

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass fpm-handler;
        #fastcgi_pass unix:/tmp/php-cgi.sock;
        fastcgi_index index.php;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include  fastcgi_params;
    }
	
	error_page 404 = http://{{ server_name }};

	location ~ .*\.(gif|jpg|jpeg|png)$ {
		expires      30d;
    }

	location ~ .*\.(js|css)?$ {
		expires      12h;
    }

	location ~.*\.*(ico|icon) {
		log_not_found off;
		access_log off;
	}

    access_log  {{ access_log_dir }}/access_{{ server_name }}.log;
    error_log  {{ access_log_dir }}/error_{{ server_name }}.log;
    #access_log off;
}
